@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap");

.custom-nav {
  background-color: #242424 !important;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Josefin Sans", sans-serif !important;
  color: white !important;
  background-color: #000000;
  background-image: linear-gradient(0deg, #1f1f1f 0%, #2c2c2c 74%);
}

.alfie {
  text-align: center;
}

.link-to-alfie {
  border: 0.01rem solid rgb(175, 175, 175);
  background: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  color: floralwhite;
  padding: 2px 3px;
  border-radius: 20%;
}

.link-to-alfie:hover,
.link-to-alfie:active {
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: orange;
}

.reset-code {
  background-color: #000000;
  background-image: linear-gradient(0deg, #1f1f1f 0%, #3a3a3a 74%);
  transform: scale(1.1);
}

.output {
  border: 0.05rem solid rgb(235, 235, 235);
  padding: 10px;
  white-space: pre-line;
  border-radius: 5px;
}

.modal-titl {
  height: 6vh;
}

.dropdown-hover:hover {
  background-color: rgb(145, 145, 145);
}

.loading {
  width: 65px;
  height: 65px;
  border: 10px solid rgb(253, 253, 253);
  border-top: 10px solid rgb(68, 68, 68);
  border-bottom: 10px solid rgb(68, 68, 68);
  border-radius: 50%;
  margin: 0 auto;
  animation: loadingg 1.5s infinite;
  -webkit-animation: loadingg 1.5s infinite;
}

.input-t:placeholder-shown {
  color: white !important;
}

.input-t {
  margin: 15px 0;
  background-color: transparent !important;
  color: white !important;
}

@keyframes loadingg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.justify-content-evenly {
  justify-content: space-evenly !important;
  align-items: center;
}

.input {
  position: relative;
  overflow: hidden;
}

.input-slide {
  display: none;
  transform: translateY(-120%);
  transition: all 0.5s ease-in-out;
}

img.logo {
  width: 40px;
  height: 50px;
  margin-right: 5px;
}
.code-editor {
  margin-top: 4%;
}

.order-direction {
  flex-direction: column;
}

@media (max-width: 768px) {
  .order-direction {
    flex-direction: row;
    flex-wrap: wrap;
    .btn {
      margin: 3%;
      margin-bottom: 0;
    }
  }
  .justify-content-evenly {
    margin-top: 2%;
    justify-content: space-between !important;
    align-items: center !important;
  }
  .input-toggler {
    display: none !important;
  }
  .input-slide {
    display: block !important;
    transform: translateY(0%) !important;
    transition: all 0.5s ease-in-out !important;
  }
}

@media (max-width: 392px) {
  .justify-content-evenly {
    button {
      align-items: center;
    }
  }
}
