@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap");
.custom-nav {
  background-color: #242424 !important;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Josefin Sans", sans-serif !important;
  color: white !important;
  background-color: #000000;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1f1f1f), color-stop(74%, #2c2c2c));
  background-image: linear-gradient(0deg, #1f1f1f 0%, #2c2c2c 74%);
}

.alfie {
  text-align: center;
}

.link-to-alfie {
  border: 0.01rem solid #afafaf;
  background: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  color: floralwhite;
  padding: 2px 3px;
  border-radius: 20%;
}

.link-to-alfie:hover,
.link-to-alfie:active {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: orange;
}

.reset-code {
  background-color: #000000;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1f1f1f), color-stop(74%, #2c2c2c));
  background-image: linear-gradient(0deg, #1f1f1f 0%, #2c2c2c 74%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.output {
  border: 0.05rem solid #ebebeb;
  padding: 10px;
  white-space: pre-line;
  border-radius: 5px;
}

.modal-titl {
  height: 6vh;
}

.dropdown-hover:hover {
  background-color: #919191;
}

.loading {
  border-radius: 50%;
  margin: 0 auto;
  animation: loadingg 1.5s infinite;
  -webkit-animation: loadingg 1.5s infinite;
}

.input-t:placeholder-shown {
  color: white !important;
}

.input-t {
  margin: 15px 0;
  background-color: transparent !important;
  color: white !important;
}

@-webkit-keyframes loadingg {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loadingg {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.justify-content-evenly {
  -webkit-box-pack: space-evenly !important;
      -ms-flex-pack: space-evenly !important;
          justify-content: space-evenly !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input {
  position: relative;
  overflow: hidden;
}

.input-slide {
  display: none;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

img.logo {
  width: 40px;
  height: 50px;
  margin-right: 5px;
}

.code-editor {
  margin-top: 4%;
}

.order-direction {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .order-direction {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .order-direction .btn {
    margin: 3%;
    margin-bottom: 0;
  }
  .justify-content-evenly {
    margin-top: 2%;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .input-toggler {
    display: none !important;
  }
  .input-slide {
    display: block !important;
    -webkit-transform: translateY(0%) !important;
            transform: translateY(0%) !important;
    -webkit-transition: all 0.5s ease-in-out !important;
    transition: all 0.5s ease-in-out !important;
  }
}

.account-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account {
  cursor: pointer;
}

.account:hover {
  text-decoration: underline;
}

.login-modal-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5.5vh;
  background-color: #242424 !important;
}

.login-modal {
  color: white !important;
  background-color: #000000;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1f1f1f), color-stop(74%, #2c2c2c));
  background-image: linear-gradient(0deg, #1f1f1f 0%, #2c2c2c 74%);
}

.login-modal .input {
  background-color: transparent !important;
}

@media (max-width: 392px) {
  .justify-content-evenly button {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.rc:hover {
  background: rgba(255, 255, 255, 0.05);
}

.rc-1 {
  width: 5vw;
}

.rc-2 {
  width: 6vw;
}

.rc-3 {
  width: 17vw;
}

.rc-4 {
  width: 10vw;
}

.rc-5 {
  width: 12vw;
}

.maintainance {
  height: 100vh;
  width: 98vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.maintainance .maintainance-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  width: 300px;
  text-align: center;
  padding-top: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.maintainance .maintainance-card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.maintainance .maintainance-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  -webkit-transform: skewY(40deg);
          transform: skewY(40deg);
}

.maintainance .maintainance-card .maintainance-img {
  width: 110px;
  height: 140px;
}

.fa-share {
  color: white !important;
  margin-top: auto;
}

.share-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.saved-codes:hover {
  background: #b4b4b4;
  text-decoration: none !important;
}

.active-saved-codes {
  background: #4848f8;
  color: white;
}

.saved-code-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.saved-code-row {
  padding-top: 2%;
  padding-bottom: 2%;
}

.saved-code-row:hover {
  background: rgba(255, 255, 255, 0.05);
}

.saved-code-title {
  font-size: 1.5rem;
}

.saved-code-lang {
  font-size: 1.2rem;
}
/*# sourceMappingURL=App.css.map */